h3 {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
    color: white;
    background-color: orange;
}

.note {
    color: black;
    font-size: 15px;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: gray;
    line-height: 3;
    text-align: center;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    width: 50px;
}

#text {
    color: black;
    font-size: 23px;
}